.about {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 100vh!important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about h2 {
  font-size: 2rem;
  margin-bottom: 50px;
  margin-top: 150px;
}
.about p svg {
  padding-right: 5px;
}
.about p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 10px 0;
  text-align: justify;
  padding-inline: 30px;
  width: 60%;
}

.qr-code {
  margin-top: 20px;
}
.qr-code h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
@media screen and (max-width: 1200px) {
  .about h2 {
    /* margin-top: 70px; */
    font-size: 1.5rem;
  }
  .about p {
    width: 110%;
    margin: 5px 0;
  }
  .title{
  }
}
.aboutTitle {
  font-size: 4rem!important;
}
@media screen and (min-width: 800px) {
  .about{
    /* margin-top: 300px; */
    margin-bottom: 0;
  }
  .title{
    font-size: 3rem!important;
  }
}