.hero {
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.hero-container {
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px;
}
.hero img {
  background-image: url(../../public/logo192.png);
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 3px solid #058fff;
  margin-bottom: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  animation: border 10s ease-in-out infinite;
  text-indent: -9999px;
}
.block {
  position: relative;
  margin: 300px auto 0;
  width: 500px;
  height: 250px;
  background: linear-gradient(0deg, #000, #272727);
}
.block:before,
.block:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    30deg,
    #ff6b6b,  /* Warm Red */
    #f9ca24,  /* Bright Yellow */
    #b602fd,  /* Soft Purple */
    #05f0c1,  /* Teal */
    #3498db,  /* Sky Blue */
    #f0932b  /* Vivid Orange */
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 30s linear infinite;
}
@keyframes border {
  0% {
    border-radius: 50%;
  }
  50% {
    border-radius: 0%;
  }
  100% {
    border-radius: 50%;
  }
}
@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 2px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.subtitle {
  color: var(--primary-text);
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  margin-top: 2px;
}
.social-hero-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 10px 0;
}
.social-hero-icons a {
  color: var(--btn-bg-color);
  font-size: 2rem;
  transition: transform 0.5s ease;
}
.social-hero-icons a:hover {
  transform: scale(1.2);
  color: var(--btn-hover);
}
/* buttons */
.cta-buttons {
  display: flex;
  gap: 30px;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  position: relative;
}
/* From Uiverse.io by cssbuttons-io */
/* From Uiverse.io by cssbuttons-io */
.hero button {
  font-size: 17px;
  padding: 1em 2.7em;
  font-weight: 500;
  background: var(--variant-bg-color);
  color: var(--bg-color);
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, .3),
    rgba(255, 255, 255, 0.1)
  );
}

.label {
  position: relative;
  top: -1px;
}
.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: rgba(240, 255, 255, 0.3);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 16em;
  height: 14em;
}

button:active {
  transform: scale(0.97);
}

.next-section {
  position: fixed;
  bottom: 10px;
  background-color: #ffffff80;
  width: 50px;
  height: 50px;
  transition: transform 0.5s ease;
  color: black;
  animation: pulse 1.5s infinite;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding-left: 50px;
  padding-right: 50px;
}
.next-section svg {
  position: absolute;
  font-size: 2rem;
  transition: transform 0.5s ease;
  z-index: 6;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 600px) {
  .hero {
    height: 105vh !important;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .social-hero-icons a {
    font-size: 1.5rem;
  }
  .cta-buttons {
    flex-direction: column;
  }
  .btn {
    width: 280px;
  }
  .next-section {
    width: 18px;
    height: 30px;
    padding-left: 40px;
    padding-right: 40px;
    bottom: 5px;
    font-size: 1rem;
  }
  .next-section svg {
    font-size: 1rem;
    color: var(--dk-bg-color);
  
  }
  .hero img {
    height: 120px;
    width: 120px;
  }
  .hero-container {
    margin-top: -200px;
    gap: 20px;
  }
  .span::after {
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(255, 94, 247, 0.471) 17.8%,
      rgba(2, 247, 255, 0.305) 100.2%
    );
  }
}
