.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  height: 100vh;
}

/* card */
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.skills-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  gap: 20px;
}
.logo{
  margin-top: 30px;
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid #058fff;
  margin-bottom: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  text-indent: -9999px;
  background-size: 80px ;
  background-repeat: no-repeat;
}
.html{
  background-image: url(../../public/skills/html.png);
}
.css{
  background-image: url(../../public/skills/css.png);
}
.js{
  background-image: url(../../public/skills/js.png);
}
.python{
  background-image: url(../../public/skills/python.png);
}
.sql{
  background-image: url(../../public/skills/sql.png);
  background-size: contain;
}
.cpp{
  background-image: url(../../public/skills/cpp.png);
}
.php{
  background-image: url(../../public/skills/php.png);
}
.react{
  background-image: url(../../public/skills/react.png);
}
.bootstrap{
  background-image: url(../../public/skills/bootstrap.png);
}
.tailwind{
  background-image: url(../../public/skills/tailwind.png);
  background-size: 150px;
}
.vs{
  background-image: url(../../public/skills/vs.png);
  background-size: 100px;
}
.git{
  background-image: url(../../public/skills/git.png);
}
.github{
  background-image: url(../../public/skills/github.png);
}
.postman{
  background-image: url(../../public/skills/postman.png);
  background-size: 110px;
}
.com{
  background-image: url(../../public/skills/com.png);
}
.adaptability{
  background-image: url(../../public/skills/adaptability.jpeg);
}
.prob{
  background-image: url(../../public/skills/prob.jpeg);
}
@media screen and (max-width: 860px) {
  .skills-list{
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: auto;
    
  }
}
@media screen and (max-width: 843px) {
  .skills-list{
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    margin: auto;
  }
}
@media screen and (max-width: 430px) {
  .skills-list{
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }
}