.hobbies {
  padding-bottom: 100px;
  padding-top: 100px !important;
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: auto;
  row-gap: 20px;
  place-content: center;
  justify-content: center;
  column-gap: 20px;
}
.hobbys-title {
  padding-top: 50px !important;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  text-align: justify;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  margin: auto;
}
.card:hover {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.hobby-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 5px;
  transition: all 0.3s ease;
  mix-blend-mode: multiply;
}
.hobby-image:hover {
  transform: scale(1.1);
}
.description {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 5px;
}
@media screen and (max-width: 900px) {
  .hobbies {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    width: 200px;
  }
}
@media screen and (max-width: 600px) {
  .hobbies {
    grid-template-columns: 1fr 1fr;
  }
  .card {
    width: 200px;
  }
}
@media screen and (max-width: 450px) {
  .hobbies {
    grid-template-columns: 1fr;
  }
  .card {
    width: 100%;
    width: 300px;
  }
  .hobbys-title {
    margin-top: 0 !important;
  }
}
@media screen and (min-width: 1200px) {
  .hobbies {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }
  .card {
    width: 100%;
  }
}

/* dark */

body.dark {
  #hobbies {
    background-color: #0f0f0f;
    .card {
      background-color: rgba(207, 207, 207, 0.343);
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s ease;
    }
  }
}
