.about {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 100px!important;    
}
.about h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}
.about p svg {
  padding-right: 5px;
}
.about p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 10px 0;
  text-align: justify;
  padding-inline: 30px;
  width: 60%;
}
.qr-code {
  margin-top: 20px;
}
.qr-code h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
@media screen and (max-width: 1200px) {
  .about h2 {
    font-size: 1.5rem;
  }
  .about p {
    width: 110%;
    margin: 5px 0;
  }
}
.aboutTitle {
  font-size: 4rem!important;
}
@media screen and (max-width: 800px) {
  .about{
    width: 100%;
    margin-top: -50px;
    height: 100%;
  }
  .title{
    font-size: 3rem!important;
  }
  .about p{
    width: 130%!important;
    margin-bottom: 0;
  }
}


/* dark */
body.dark{
  .about{
    background-color: #0f0f0f;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    p,h2{
        color: rgba(255, 255, 255, 0.729);
    }
}
}